body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #272727; 
    color: #eaeaea; 
}

.cabecalho {
    background: #000000; 
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    border-bottom: 3px solid #ff4c4c;
}

.cabecalho img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ff4c4c;
    margin-bottom: 1rem;
}

.cabecalho h1 {
    margin: 0.5rem 0;
    font-size: 1.8rem;
    color: white;
}

.cabecalho p {
    font-size: 1.1rem;
    color: #ff6060; 
}

.contatos a {
    color: #eaeaea;
    margin: 0 10px;
    font-size: 1.3rem;
    transition: color 0.4s ease;
}

.contatos a:hover {
    color: #ff0000;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    background: #1a1a1a;
    border-radius: 8px;
    margin-top: -30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

h2 {
    color: #ff4c4c; 
    border-bottom: 2px solid #ff4c4c;
    padding-bottom: 0.2rem;
}

.job {
    margin-bottom: 1rem;
}
.job a, a:active, a:visited{
    text-decoration: none;
    color: white;
}
.job a:hover{
    color: #ff4c4c;
}
.job h3 {
    margin: 0;
    color: white;
}

.periodo {
    font-size: 0.9rem;
    color: #bbbbbb;
}
.formacao li{
    margin-top: 1rem;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skills span {
    background: #ff3333;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.85rem;
    transition: all 0.4s;
}
.skills span:hover {
    background: #ff0000;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius:5px;
    cursor: default;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #1a1a1a;
    color: #bbbbbb;
    margin-top: 2rem;
}
